<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

</head>
<body>
    <div th:replace="fragments :: navigation"></div>
        <!-- <h1>Family BBQ</h1> -->
    <div class="container body-content">
        <nav>Navigation Bar Goes Here</nav>
        <h2>Table with food selections here</h2>
        <h2>Link to form to submit a food selection goes here</h2>
        <h3>User Comments go here</h3>
    </div>


    <footer th:replace="fragments :: footer"></footer>
</body>
</html>